*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primario: #ffffff;
    --secundario: #000000;
    --acento: #fca600;
    --grey: #cccccc;
    --fuente-principal :'Crimson Text', serif;
    --fuente-heading : 'Abril Fatface', cursive;
}

/* Globales */

h1{
    font-family: var(--fuente-heading);
    /* font-size: 5.625rem; */
    font-size: 4rem;
    color: var(--secundario);
    text-transform: uppercase;
    text-align: center;
    /* margin-top: 4rem; */
    width: 100%;
    background-repeat: no-repeat;
    /* position: absolute; */
}
h2{
    font-family: var(--fuente-heading);
    color: var(--secundario);
    font-size: 2.5625rem;
    text-transform: uppercase;
}
h3 {
    font-family: var(--fuente-heading);
    color: var(--acento);
    font-size:  1.5625rem;
    text-transform: uppercase;
}
p {
    font-family: var(--fuente-principal);
    font-size: 1.3125rem;
    color: var(--secundario);
    line-height: 2rem; 
    padding: 1rem 2rem;  
}
a{
    color: var(--acento);
}

li {
    list-style: none;
}
img {
    max-width: 12.5rem;
}

/* Contenedores */

.layout {
    display: grid;
    grid-template-rows: 20% 15% 1fr 5%;
    width: 100%;
    height: 100vh;
}
@media (min-width: 1200px) {
    .layout {
        display: grid;
        grid-template-rows: 10% 15% 1fr 5%;
        width: 100%;
        height: 100vh;
    }
}

header {
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-rows: 50% 25% 25%;
    background-color: var(--secundario);
    align-items: center;
}

.navegador { 
    grid-row: 2/3;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: .5rem;
}

@media (min-width: 1200px) {
    header {
        grid-column: 1/2;
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: none;
        align-items: center;
        justify-content: center;
    }
.navegador { 
    grid-row: 2/3;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    padding: .5rem .5rem 1rem .5rem;  
}

}
@media (min-width: 768px) {
    .navegador {
        justify-content: space-around;
    }
}
.navegador-redes {
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
@media (min-width: 1200px) {
    .navegador-redes{
        grid-row: 1/2;
        grid-column: 3/4;
        gap: 0 2rem;

    }
}
.hero {
    grid-row: 2/3;
    background-image: url(../assets/img/wormies-foto-hoveredit.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero h1 {
    grid-row: 2/3;
    text-align: center;
    text-align: center;
}

.contenedor-contenido-index {
    display: flex;
    flex-direction: column;
    
}
@media (min-width: 768px) {
    .contenedor-contenido-index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4rem 1fr;
    }
}


/* Logo */

.logo {
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: auto;
}
@media (min-width: 768px) {
    .logo {
        height: 6rem;
    }
}
@media (min-width: 1200px) {
    .logo {
        grid-column: 1/2;
        max-height: 4.0625rem;
    }
}

/* Navegador */

.navegador a {
    text-decoration: none;
    color: var(--primario);
    font-size: .875rem;
}

/* Img redes */

.navegador-redes img {
    width: 2rem;
}

/* Main */

main {
    grid-row: 3/4;
}

.contenedor-contenido-index h2 {
    text-align: center;
}

.contenedor-contenido-index p {
    font-size: 1rem;
    font-weight: bold;

}
.contenedor-contenido-index img {
    max-width: 22.5rem;
    align-self: center;
    justify-self: center;
}

.contenedor-video {
    max-width: 22.5rem;
    padding: 0 1rem;
    margin-left: 1rem;
}
@media (min-width: 768px) {
    .contenedor-contenido-index h2 {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .contenedor-video {
        margin-left: 13rem;
    }
}
@media (min-width: 1200px) {
    .contenedor-contenido-index p {
        font-size: 1.5rem;
        font-weight: bold;
        padding: 1rem 2rem 1rem 4rem;
    }
    .contenedor-contenido-index img {
        max-width: 30rem;
    }
    .contenedor-video {
        margin-left: 35rem;
    }
}


/* Footer */

footer {
    grid-row: 4/5;
    background-color: var(--secundario);
    text-align: center;
}
footer p {
    color: var(--primario);
    font-family: var(--fuente-principal);
    font-size: 1rem;
}


/* Nosotros */

.contenedor-main {
    display: flex;
    flex-direction: column;
}
.contenedor-nosotros {
    display: flex;
    flex-direction: column;
}

.contenedor-nosotros h2, h3 {
    text-align: center;
}

.contenedor-nosotros, .contenedor-nosotros-2, .contenedor-nosotros-3 p {
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 2rem;
}

.img-nosotros {
    margin-left: 5rem;
}

.cronologia {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
}

.contenedor-fotos-nosotros {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .img-nosotros {
        max-width: 25rem;
        margin-left: 10rem;
    }    
    .contenedor-fotos-nosotros{
        display: flex;
        justify-content: space-around;
    }
    .contenedor-nosotros img {
        min-width: 20rem;
    }
}
@media (min-width: 1200px) {
    .contenedor-nosotros {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5rem 5rem 1fr 1fr;
        text-align: center;
    }
    .contenedor-nosotros h2 {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .contenedor-nosotros h3 {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .parrafo-1 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .parrafo-2 {
        grid-column: 1/3;
        grid-row: 4/5;
    }
    .contenedor-nosotros :last-child {
        margin-left: 6rem;
    }
    .contenedor-nosotros-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2,50rem);
    }
    .contenedor-nosotros-2 :first-child {
        margin-left: 6rem;
        margin-top: 10rem;
    }
    .parrafo-solo {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .cronologia {
        margin: 0 2rem;
    }
    .contenedor-fotos-nosotros img {
        min-width: 31.25rem;
        margin: 1rem 2rem;


        
    }
}