@media (min-width: 1200px) {
    .layout {
        display: grid;
        grid-template-rows: 15% 15% 1fr 5%;
        width: 100%;
        height: 100vh;

        header {
            grid-column: 1/2;
            display: grid;
            grid-template-columns: 25% 50% 25%;
            grid-template-rows: none;
            align-items: center;
            justify-content: center;

                .logo {
                    grid-column: 1/2;
                    min-width: 100%;
                }
                nav {
                    .navegador { 
                        grid-row: 2/3;
                        height: auto;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        gap: .5rem;
                        padding: .5rem .5rem 1rem .5rem;  
                    }
                };

                .navegador-redes{
                    grid-row: 1/2;
                    grid-column: 3/4;
                    justify-content: flex-end;
                    padding-right: 2rem;
                    gap: 0 2rem;
                }
        }
        main {
            // Index 
            .contenedor-contenido-index {
                p {
                    font-size: 1.5rem;
                    font-weight: bold;
                    padding: 1rem 2rem 1rem 4rem;
                }
                img {
                    min-width: 90%;
                }
            }
            .contenedor-video {
                margin-left: 20rem;
                iframe {
                    min-width: 43.75rem;
                }
            }

            // Nosotros
            .contenedor-main {
                width: 100%;
                .contenedor-nosotros {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 5rem 5rem 1fr 1fr;
                    text-align: center;

                    h2 {
                        grid-column: 1/3;
                        grid-row: 1/2;
                    }
                    h3 {
                        grid-column: 1/3;
                        grid-row: 2/3;
                    }
                    .parrafo-1 {
                        grid-column: 1/2;
                        grid-row: 3/4;
                        font-size: 1.5rem;
                        font-weight: bold;
                    }
                    .parrafo-2 {
                        grid-column: 1/3;
                        grid-row: 4/5;
                        font-size: 1.5rem;
                        font-weight: bold;
                    }

                }  
                .contenedor-nosotros-2 {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: repeat(2,50rem);

                    img{ 
                        min-width: 30rem;
                        min-height: 40rem;
                    }

                    p {
                        font-size: 1.5rem;
                        font-weight: bold;
                    }
                    .parrafo-solo {
                        grid-column: 1/3;
                        grid-row: 2/3;
                    }
                    
                }
                .contenedor-nosotros-3{
                    .cronologia {
                        margin: 0 2rem;
                        li {
                            font-size: 1.5rem;
                        }
                    }
                }
                .contenedor-fotos-nosotros {
                    img{
                        min-width: 40%;
                    }
                }
            }
            .contenedor-main {
                .slider{
                    margin-left: 33.125rem;
                }
                .galeria-videos {
                        .contenedor-videos {
                            iframe {
                                max-width: 37.5rem;
                            }

                        }
                }
            }

                        // Contacto 
                        .formulario{
                            form{
                                fieldset {
                                    .boton-form{
                                        margin-left: 21.875rem;
                                    }
                                }
                            }
            
                        }
        }

    }

}