main {
    grid-row: 3/4;

    .contenedor-main {

        .h2-galeria{
            text-align: center;
            margin: 2rem;
            padding-top: 1rem;
            border-top: .25rem solid var(--acento);
        }
        .slider {
            aspect-ratio: 10 / 16;
            width: 18.75rem;
            max-width: 80%;
            position: relative;
            display: flex;
            overflow: scroll;
            scroll-snap-type: x mandatory;
            margin-left: 3rem;

                img {
                    width: 100%;
                    max-width: 100%;
                    left: 0;
                    position: sticky;
                    object-fit: cover;
                    border-radius: .3125rem;
                    scroll-snap-align: center;
                }
        }

        .galeria-videos {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 1rem;

                .contenedor-videos {
                    max-width: 95%;
                    
                    iframe {
                        max-width: 21.875rem;
                        padding-left: 2rem;
                    }

                }
        }


    }
}