main {
    grid-row: 3/4;

    .contenedor-contenido-index {
        h2 {
            text-align: center;
            @include sombra(2px)
        }
        p {
            font-size: 1rem;
            font-weight: bold;
        }
        img {
            max-width: 22.5rem;
            padding: 0 1rem;
            margin-left: .75rem;
            @include sombra(.1875rem)
        }
    }

    .contenedor-video {
        max-width: 22.5rem;
        padding: 0 1rem;
    }
}